body {
    font-family: Arial, sans-serif;
    background-color: #f8d7da;
    color: #444;
    text-align: center;
    margin: 0;
}

.page {
    display: none;
    padding: 50px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.page.active {
    display: block;
    opacity: 1;
}

form input, form button {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

form input {
    width: 200px;
}

form button {
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #ff4757;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gallery img {
    width: 200px;
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
